<h1>{{encabezado}}</h1>
<h2 class="py-3">Listado de productos:</h2>
{{#if hayProductos}}
<div class="d-flex gap-3 flex-wrap">
    {{#each products}}
        <div class="card" style="width: 15rem;">
            <div class="card-body">
                <h5 class="card-title text-success">Nombre: {{this.tittle}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Stock: {{this.stock}}</h6>
                <h6 class="card-subtitle mb-2 text-muted">Precio: {{this.price}}</h6>
                <h6 class="card-subtitle mb-2 text-muted">Imagen: {{this.thumbnail}}</h6>
                <h6 class="card-subtitle mb-2 text-muted">Codigo: {{this.code}}</h6>
                <h6 class="card-subtitle mb-2 text-muted">Descripción: {{this.description}}</h6>
            </div>
        </div>
    {{/each}}
</div>
{{else}}
    <p>no hay productos...</p>
{{/if}}